@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@400;700&display=swap');


html, body {
    height: 5000px;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    .img {
        flex-grow: 1;
        height: 100%;
        width: 75px;
        background-image: url('/img/white-logo.png');
        background-repeat: no-repeat;
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            margin-left: 0;
            padding-left: 0;
            width: 670px;
            li {
                list-style-type: none;
                display:inline;
                a {
                    text-decoration: none;
                    color: white;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
}

main {
    height: 100vh;
    width: 100%;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 5% 10%;
    box-sizing: border-box;
    .title {
        display: flex;
        flex-direction: column;
        width: 100%;
        .tagline {
            display: flex;
            align-items: center;
            .line {
                width: 100px;
                height: 2px;
                background-image: url('/img/main-line.svg');
                background-repeat: no-repeat;
                margin-right: 25px;
            }
            span {
                font-family: 'PT Sans Caption', sans-serif;
            }
        }
        h1 {
            margin: 0;
            font-family: 'Arsenal', sans-serif;
            font-weight: bold;
            font-size: 92px;
            margin-bottom: 150px;
        }
        .slider {
            display: flex;
            width: 100%;
            div {
                flex-grow: 1;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
                .number {
                    font-family: 'PT Sans', sans-serif;
                    font-weight: bold;
                    margin-right: 20px;
                }
                .slider-title {
                    font-family: 'PT Sans', sans-serif;
                    font-weight: bold;
                }
            }
            .not-chosen {
                opacity: 0.5;
                font-weight: regular;
            }

        }
        .arrow {
            position: relative;
            height: 40px;
            width: 30px;
            background-image: url("/img/main-arrow.svg");
            background-repeat: no-repeat;
            left: -6px;
            margin-top: 35px;
        }
    }
}